<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="DocumentationComponents">
			<!-- Install the help file -->
			<Component Id="HelpFileComponent" Guid="{2C9FF783-2E6F-459B-8CC9-B981A972F336}" Directory="INSTALLFOLDER">
				<File Id="HelpFile" Source="..\Revit_Automation\Docs\RevitHelp.pdf" Checksum="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>