<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
			 Name="Revit Automation Toolkit" 
			 Language="1033" 
			 Version="1.0.0.0" 
			 Manufacturer="Code Indian Technologies" 
			 UpgradeCode="95b77557-3a50-4a35-994a-370ef6b395d1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
		
		<!-- Select the UI for the installer -->
		<UIRef Id="CustomUI"/>
		
		<Feature Id="ProductFeature" Title="Revit Automation Toolkit" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="RegistryEntries" />
		</Feature>

		<Feature Id="DocumentationFeature" Title="Documentation" Level="1" Description="Installs the optional documentation.">
			<ComponentGroupRef Id="DocumentationComponents" />
		</Feature>
		
		<WixVariable Id="WixUILicenseRtf" Value="..\Revit_Automation\Docs\License.rtf" />

		<Icon Id="AppIcon" SourceFile="..\Revit_Automation\Resources\CodeIndians.ico"/>
		<Property Id="ARPPRODUCTICON" Value="AppIcon" />

		<Property Id="USERNAME"    Secure="yes" />
		<Property Id="COMPANYNAME" Secure="yes" />

		<Property Id="ARPURLINFOABOUT"      Value="http://www.codeindians.com" />

		<CustomAction Id="RunBatchFile" Directory="INSTALLFOLDER" ExeCommand="cmd.exe /c copyfiles.bat" Execute="deferred" Return="ignore" />
		<CustomAction Id="RemoveAddinFiles" Directory="INSTALLFOLDER" ExeCommand="cmd.exe /c removefiles.bat" Execute="deferred" Return="ignore" />
		<InstallExecuteSequence>
			<Custom Action="RemoveAddinFiles" Before="RemoveFiles">REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE</Custom>
			<Custom Action="RunBatchFile" After="InstallFiles" />
		</InstallExecuteSequence>
		
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="MANUFACTURERFOLDER" Name="!(bind.property.Manufacturer)">
					<Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="RevitADDINComponent" Guid="{2873BC1F-3DAB-40FD-9C37-AB426888780F}" >
				<File Id="RevitADDIN" KeyPath="yes" Source="..\Revit_Automation\Revit_Automation.addin" Checksum="yes"/>
			</Component>
			<Component Id="RevitDLLComponent" Guid="{D44F8558-8D09-49BA-87C8-3807FFB4D9C6}">
				<File Id="RevitDll" KeyPath="yes" Source="..\Revit_Automation\bin\Release\Revit_Automation.dll" Checksum="yes"/>
			</Component>
			<Component Id="RevitBatchFileComponent" Guid="{8E374386-B5E2-4CA6-B7B6-67F9C9CCB9BA}">
				<File Id="CopyFiles" KeyPath="yes" Source="..\Revit_Automation\copyfiles.bat" Checksum="yes"/>
			</Component>
			<Component Id="RevitBatchFileRemoveComponent" Guid="{7AB7DA5C-B1F1-4EBF-B702-928B86DCC566}">
				<File Id="RemoveFiles" KeyPath="yes" Source="..\Revit_Automation\removefiles.bat" Checksum="yes"/>
			</Component>
      <Component Id="RevitResourcesPrjSettings" Guid="{478F04D8-2D66-489F-B802-B742CFFB23D9}">
        <File Id="IcnPrjSettings" KeyPath="yes" Source="..\Revit_Automation\Resources\ProjectSettings.png" Checksum="yes"/>
      </Component>
      <Component Id="RevitResourcesGenModel" Guid="{23876934-157A-47B8-AD94-F19A8EFAAE23}">
        <File Id="IcnGenModel" KeyPath="yes" Source="..\Revit_Automation\Resources\Model.png" Checksum="yes"/>
      </Component>
      <Component Id="RevitResourcesGenModelAtSelection" Guid="{E2482DD4-7171-4081-8630-E1AFDEB9C3C2}">
        <File Id="IcnGenModelSel" KeyPath="yes" Source="..\Revit_Automation\Resources\Posts.png" Checksum="yes"/>
      </Component>
      <Component Id="RevitResourcesGenWalls" Guid="{ECFFFE13-B5D1-4207-947C-19E3B9CDF0D3}">
        <File Id="IcnGenWalls" KeyPath="yes" Source="..\Revit_Automation\Resources\Walls.png" Checksum="yes"/>
      </Component>
      <Component Id="RevitResourcesGenBT" Guid="{727D34C3-129E-4B37-92B3-262395B7B686}">
        <File Id="IcnGenBTs" KeyPath="yes" Source="..\Revit_Automation\Resources\BottomTrack.png" Checksum="yes"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
