# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Revit_Automation
/Revit_Automation/bin/Debug
/Revit_Automation/obj/Debug
/RevitInstaller/bin
/RevitInstaller/obj
/Revit_Automation/bin/Release
/Revit_Automation/obj/Release

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets
/Sheeting_Automation/obj/Debug
/Sheeting_Automation/bin/Debug
/Sheeting_Automation/obj/Release/DesignTimeResolveAssemblyReferences.cache
/Sheeting_Automation/bin/Release
/Sheeting_Automation/obj/Release

